#login_container {
  top: 15vh;
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.loginClose_button {
  display: flex;
  justify-content: flex-end;
}

.loginClose_button > a,
.loginClose_button:hover {
  text-decoration: none;
  color: white;
}
